<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpleemoon.main">

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="主站"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
    </application>
</manifest>
